/* Posicion Z-Index */
.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    position: relative;
}

.box1 {
    background-color: cornflowerblue;
    z-index: 3;
}

.box2 {
    background-color: tomato;
    top: -50px;
    left: 50px;
    z-index: 2;
}

.box3 {
    background-color: gold;
    top: -100px;
    left: 100px;
    z-index: 1;
}